label{
    font-family: sans-serif;
    font-weight: bold;
}

input{
    font-family: sans-serif;
    width: 98%;
    height: 30px;
    border-radius: 10px;
}

.cadastro{
    background: #ffffffb9;
    width: 500px;
    padding: 30px;
    /*display: flex;*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAD05D;
    min-height: 100vh; /* Faz o body ocupar toda a altura da tela */
    margin: 0;
}

.containerBotao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.aviso{
    color: red;
    font-style: italic;
}